* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: bold;
  float: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #00adb5;
  position: sticky;
  position: -webkit-sticky;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #eeeeee;
  z-index: 1;
  border: 1px solid #00adb5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.tbl-biru {
  background: #00adb5;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #ff2e63;
  text-decoration: none;
}

a.tbl-putih {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 15px 20px 15px 20px;
  color: #00adb5;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-putih:hover {
  background: #cbf1f5;
  text-decoration: none;
}

a.tbl-abu {
  background: #393e46;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-abu:hover {
  background: #00adb5;
  text-decoration: none;
}

.detel {
  margin-left: 8%;
  margin-top: 15%;
}

.detel h1 {
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;
}

span {
  color: orange;
}

.detel p {
  color: #555;
  line-height: 22px;
}

.images {
  position: absolute;
  height: 80%;
  width: 45%;
  bottom: 0;
  right: 100px;
}

.images img {
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  transition: bottom 1s, left 1s;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  -webkit-transition: bottom 1s, left 1s;
  -moz-transition: bottom 1s, left 1s;
  -ms-transition: bottom 1s, left 1s;
  -o-transition: bottom 1s, left 1s;
}

.images:hover .shape {
  bottom: 40px;
}

.images:hover .person {
  left: 45%;
}
